{% extends "base.html" %}

{% block main %}
<h1>Profiles</h1>
{% include 'flash_messages.html' %}
<ul>
    {% for user in users %}
    <li class="show-users">
        <div class="left">
            <img class="show" src="{{ url_for('static', filename="uploads/" + user.photo) }}" />
        </div>
        <div class="middle">
            <h4>{{ user.firstName + ' ' + user.lastName }}</h4>
            <img class="png" src="{{ url_for('static', filename="images/contact.png") }}">{{ user.gender }}<br>
            <img class="png" src="{{ url_for('static', filename="images/location.png") }}">{{ user.location }}
        </div>
        <div class="right">
            <a class="show-right btn" href="{{ url_for('profile_details', userid=user.id) }}">View Profile</a>
        </div>
        
    </li>
    {% endfor %}
</ul>

{% endblock %}